.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(to right, #dfe9f3, #ffffff); */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.title {
  font-size: 2.5rem;
  color: #f2f3f5;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
