body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Фоновое изображение */
  background-image: url("./pexels.jpg"); /* Укажите путь к вашему изображению */
  background-size: cover; /* Изображение охватывает весь элемент */
  background-position: center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Изображение не повторяется */

  padding: 10px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
